*{
    font-size: 10px;
    margin: 0px;
    padding: 0px;
}
.text-title{
    font-style: bold ;
    color:crimson;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    font-size: 4rem;
}
#bang-noi-quy{
    border: solid 15px rgb(20,57,128);
    margin: 50px;
    padding: 5px;
}
#bang-noi-quy > div{ 
    border: 5px solid rgb(20,57,128);
    padding: 50px;
}
#sub-title{
    color: rgb(20,57,128);
    font-style: italic;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
p{
    font-size: 2rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(20,57,128);
    
}
li{
    font-size: 2rem;
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(20,57,128);
}