*{
    font-size 10px;
    margin: 0px;
    padding: 0px;
}
h3{
    font-size: 3rem;
    color:blue !important;
    font-family: Arial, Helvetica, sans-serif;
}
.text-title{
    color:crimson;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    font-size: 4rem;
}
#bang-noi-quy{
    border: solid 15px rgb(36,14,206);
    margin: 50px;
    padding: 5px;
}
#bang-noi-quy > div{
    border: 5px solid rgb(36,14,206);
    padding: 50px;
}
#sub-title{
    color: rgb(36,14,206);
    font: italic 20px
}