*{
 font-size: 1rem;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.container > div{
    min-width: 100px;
    min-height: 20px;
}
.tab{
    display: flex;
    background-color: white;
}
.tab ul{
    list-style: none;
    display: flex;
    padding: 0;
}
.tab ul li{
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    justify-content: space-around;
    width: 100px;
}
.img {

}
.tab2 ul{
    list-style: none;
    display: flex;  
    padding: 0;
    justify-content: center;
}
.tab2 ul img{
    width: 400px;
}